
.view {
  text-align: center;
  margin: auto;
  transform: translateY(-50px);
}

#circle-container {
  margin-top: 200px;
  display:flex;
  flex-direction: column;
  align-items: center;
}


#circle {
  width: 200px;
  height: 200px;
  border-radius: 70%;
}
